.account {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.account__info {
  margin: 15px 25px;
  padding: 0 30px;

  color: $black;
}

.account__title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.account__list {
  font-size: 20px;
}

.account__definition,
.account__meaning {
  display: inline-block;
}

.account__definition {
  font-weight: 500;
}

.account__meaning {
  margin: 10px;
}

//*** Media ***//

//*** Max-width: 1000px ***//
@media(max-width: 1000px) {
  .account {
    flex-wrap: wrap;
  }

  .account__info {
    width: 100%;
  }

  .account__list {
    text-align: center;
  }
}

//*** Max-width: 600px ***//
@media(max-width: 600px) {
  .account {
    margin-top: 0;
  }

  .account__title {
    font-size: 20px;
  }
  
  .account__list {
    font-size: 18px;
  }
}

//*** Max-width: 500px ***//
@media(max-width: 500px) {
  .account__info {
    margin: 10px 15px;
    padding: 0 20px;
  }
}

//*** Max-width: 400px ***//
@media(max-width: 400px) {
  .account__definition,
  .account__meaning {
    display: block;
  }

  .account__title {
    font-size: 18px;
  }
  
  .account__list {
    font-size: 15px;
  }
}
