.footer {
  margin-top: auto;
  padding: 15px 0;

  background-color: $blue;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 16px;
}

.footer__author, 
.footer__links {
  margin: 5px 15px;
}

.footer__svg {
  width: 30px;
  margin: 0 10px;
  
  fill: $white;

  transition: fill .2s ease-out;

  &:hover {
    fill: $blue-light;
  }
}

//*** Media ***//

//*** Max-width: 500px ***//
@media(max-width: 500px) {
  .footer {
    margin-top: 0;
  }

  .footer__author {
    font-size: 14px;
  }
}

//*** Max-width: 470px ***//
@media(max-width: 470px) {
  .footer {
    padding: 5px 0;
  }

  .footer__author {
    font-size: 11px;
  }

  .footer__svg {
    width: 22px;
  }
}


//*** Max-width: 360px ***//
@media(max-width: 360px) {
  .footer__author, 
  .footer__links {
    margin: 5px;
  }
}