.header {
  padding: 15px 0;

  background-color: $blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__svg {
  width: 60px;
  margin: 0 15px;

  fill: $white;
  cursor: pointer;

  transition: fill .2s ease-out;
}

.header__badge {
  margin: 0 15px;
  
  font-size: 24px;
  font-weight: 600;
}

//*** Media ***//

//*** Max-width: 1200px ***//
@media(max-width: 1200px) {
  .header__svg {
    width: 50px;
  }
}

//*** Max-width: 900px ***//
@media(max-width: 900px) {
  .header__badge {
    margin: 0 5px;

    font-size: 20px;
  }
}

//*** Max-width: 600px ***//
@media(max-width: 600px) {
  .header__inner {
    padding: 0 25px;
  }

  .header__logo{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//*** Max-width: 470px ***//
@media(max-width: 470px) {
  .header {
    padding: 10px 0;
  }

  .header__inner {
    padding: 0 15px;
  }

  .header__svg {
    width: 35px;
  }

  .header__badge {
    font-size: 15px;
  }
}
