.password-forget {
  padding: 15px 25px;
  height: 84vh;
}


.password-forget__header, 
.password-forget__subheader {
  text-align: center;
}

.password-forget__title-big,
.password-forget__title-medium,
.password-forget__title-small {
  margin: 0;

  font-weight: 500;
}

.password-forget__title-big {
  padding: 20px 0 10px;

  font-size: 30px;
}

.password-forget__title-medium {
  padding: 15px 0;

  font-size: 23px;
}

.password-forget__title-small {
  padding: 20px 0 10px;

  font-size: 18px;
}

.password-forget__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 15px;
}


/*
 * Media
*/

/*
 * Max-width: 600px
*/
@media(max-width: 600px) { 
  .password-forget__title-big {
    font-size: 25px;
  }

  .password-forget__title-medium {
    font-size: 18px;
  }

  .password-forget__title-small {
    font-size: 15px;
  }
}