.tabs {
  width: 500px;
  
  background-color: $white;
}

.tabs__svg {
  width: 40px;
  height: 60px;
}

//*** Media ***//

//*** Max-width: 600px ***//
@media(max-width: 600px) {
  .tabs {
    width: 400px;
  }

  .tabs .MuiTab-root {
    min-width: 130px;
  }

  .tabs .MuiTab-wrapper {
    font-size: 0;
  }
}

//*** Max-width: 500px ***//
@media(max-width: 500px) {
  .tabs .MuiTab-root {
    min-width: 100px;
  }

  .tabs__svg {
    width: 35px;
    height: 50px;
  }
}

//*** Max-width: 450px ***//
@media(max-width: 450px) {
  .tabs {
    width: 300px;
  }
}

//*** Max-width: 350px ***//
@media(max-width: 350px) {
  .tabs {
    width: 250px;
  }

  .tabs__svg {
    width: 30px;
    height: 40px;
  }

  .tabs .MuiTab-root {
    min-width: 50px;
  }
}