/* Colors */
$blue: #0d47a1;
$blue-middle: #64b5f6;
$blue-light: #90caf9;
$blue-bg-track-scrollbar: #82b1ff;
$azure: #e3f2fd;
$white: #fff;
$white-bg-transparent: #ffffffb3;
$black: #000;
$black-shadow: #0009;
$red: #b71c1c;
$gray-bg: #455a64cc;
$gray: #bdbdbd;

/* Font */
$font: 'montserrat', sans-serif;